<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h2>Welcome to Spotify</h2>

    <form action="/artist-search" method="GET">
    <input type="text" name="artist" placeholder="Enter your artist's name">
    <button type="Submit">Search</button>
    </form>
    
</body>
</html>


