<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body background="/images/spotify-background.jpeg">
    <h2>Welcome to Spotify</h2>
    {{{body}}}

</body>

</html>




