<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracks</title>
</head>
<body>
    <h2>Here are the available Tracks, enjoy!</h2>

    <ul>
        {{#each tracks}}
        <li>
            <h3>{{this.name}}</h3>
            {{#if this.preview_url}}
            <audio controls>
                <source src="{{this.preview_url}}" type="audio/mpeg">
                Sorry, your browser does not support the audio element.
            </audio>
            {{else}}
            <p>Sorry, no preview available</p>
            {{/if}}
        </li>
        {{/each}}
    </ul>
    
</body>
</html>