#welcome, #searchresult, #tracks {
    text-align: center; 
    margin-top: 15%;
    align-items: center;   
    font-family: 'Arial', sans-serif;
    font-size: 300%;
    color: rgb(12, 78, 78);
    text-shadow: #0078d0;
    
}

#searchresult, #albums, #tracks {
    color: aliceblue;
    margin-top: 2%;
    font-size: 200%;
    margin-bottom: 2%;
}

body {
    background-image: url('/images/spotify-background.jpeg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed; 
}




form {
    text-align: center;
    box-sizing:border-box;
    padding: 10px;
}

form input{
    padding: 10px;
    width: 20%;
    border-radius: 10px;
}

footer {
    padding: 10px 20px;
    color:rgba(44, 42, 42, 0.829);
    font-family: 'Arial', sans-serif;
    align-items: center;
    margin-left: 38%;
    font-weight: bold;
}





#search, ul li a {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  margin-left: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


#search:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}


ul {
    font-family: 'Arial', sans-serif;
    font-size: 100%;
    color:rgba(4, 10, 116, 0.937);
    padding: 0;
    text-align: center;

}

   

ul li {
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 55px;
    margin-left: 38px;
    vertical-align: top;
    position: relative;
    height: 300px;
    width: 200px;
    background-color: rgba(245, 222, 179, 0.433);
    padding: 25px;
    border-radius: 15px;
}



#trackslist #audioplayer {
    display: inline-block;
    margin-right: 55px;
    margin-bottom: 55px;
    margin-left: 38px;
    vertical-align: top;
    position:relative;
    height: 150px;
    width: 300px;
    background-color: rgba(151, 225, 244, 0.476);
    padding: 25px;
    border-radius: 25px;
}



ul li a {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}